@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        var emailClaim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);
        if (emailClaim != null)
        {
            <p>Your email address is: @emailClaim.Value</p>
        }
        else
        {
            <p>The email claim is missing.</p>
        }
    }
    else
    {
        <p>You are not authenticated.</p>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
